body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #163e3a;
}

nav {
  height: 55px;
  width: 100%;
  background-color: #F4C0AF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
}

nav a {
  color: #163E3A;
  flex: 0 1 150px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}

nav a#rsvp-nav {
  color: white;
  background-color: #163E3A;
  padding: 10px 0;
}

nav a:hover {
  color: white
}

section {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

section:nth-child(odd) {
  background-color: #F4C0AF;
}

section:nth-child(even) {
  background-color: white;
}

section#big-image {
  padding-top: 55px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 5px;
}

#map {
  height: 100%;
}

img.flower {
  width: 120px;
  mix-blend-mode: multiply;
  padding-top: 20px;
}

span.anchor-target {
  display: block;
  visibility: hidden;
  position: relative;
  top: -54px;
}

form {
  margin-bottom: 500px;
}

fieldset {
  border: 0;
}

form label {
  display: block;
}

form label span {
  width: 100px;
}
